<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="blog-page">

    <div class="blog-header">
        <h1>All Blog Posts</h1>
        <a href="/" class="publish-btn">Write Another Post</a>
    </div>


    <% if (posts.length === 0) { %>
        <p>No posts yet. <a href="/">Create one here</a>.</p>
    <% } else { %>
        <ul>
    <% posts.forEach(post => { %>
        <li>
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
            <p><em>by <%= post.author %> on <%= post.createdAt %></em></p>

            <!-- Edit/Delete -->
            <form action="/edit/<%= post.id %>" method="GET" style="display:inline;">
                <button type="submit">Edit</button>
            </form>
            <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>
    <% } %>


</body>
</html>
